.filter {
  max-width: 500px;
  margin: auto;
}

.filter__input {
  width: 100%;
  border-radius: 8px;
  padding: 5px 10px;
}

.toggle {
  margin-top: 10px;
}

.toggle__text {
  font-size: 12px;
  color: grey;
}

.toggle__switch-outer {
  display: inline-block;
  margin: 0 10px;
  border: 1px solid;
  width: 100px;
  border-radius: 10px;
  background: white;
}

.toggle__switch-outer:hover {
  cursor: pointer;
}

.toggle__switch-inner--earliest, .toggle__switch-inner--latest {
  border: 1px solid;
  width: 50px;
  height: 15px;
  border-radius: 10px;
  background: lightgrey;
  transition: .3s;
}

.toggle__switch-inner--latest {
  transform: translateX(50px);
  transition: .3s;
}
